NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/portfolio_test
JWT_SECRET=test

# Optional (Cloudinary)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Optional: allow admin registration route (set false in production)
ALLOW_ADMIN_REGISTER=true
